.reportview-container {
    flex-direction: row;
}

.main {
    max-width: 100%;
}

.css-10trblm {
    text-transform: uppercase;
    color: #01192b;
    /*text-align: center;*/
}

#stock-trend-prediction .css-10trblm.e16nr0p30 {
    text-align: center;
}

.block-container {
    max-width: none !important;
}

.st-emotion-cache-1v0mbdj {
    align-items: center !important;
}

img {
    width: 100% !important
}

.css-12oz5g7 {
    padding-top: 0.5rem;
}

#02eeb487-6259-49ac-ae56-38eb100ccb1b {
    font-style:Italic;
    font-size: 17px;
}

.css-183lzff.eyqtai90 {
    white-space: pre;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    overflow-x: auto;
}

